@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap');

@import 'tailwindcss';
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 400;
}
